.App {
  display: flex;
  flex-direction: column;
  background-image: url('../components/images/man.jpg');
  background-size: cover;  
  background-attachment: fixed;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@media (max-width: 600px) {
  .App {
    background-size: contain;
    background-repeat: no-repeat;
  }
}