.bodyDiv {
   min-height: 60vh;
   display: flex;
   flex-direction: column-reverse;
}

.bodyText {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   color: white;
   padding-left: 5vw;
   padding-bottom: 5vh;
}

