.footerDiv {
   display: flex;
   flex-direction: column;
}

.linkDiv {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 60px;
   gap: 60px;   
   color: white;
}

@media (max-width: 600px) {
  .linkDiv {
   transform: scale(80%);
   padding: 5px;
   gap: 5px;
  }
}