.link {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.circle {
   border: 2px solid white;
   border-radius: 100%;
   width: 80px;
   height: 80px;
}

.name {
   font-weight: 700;
}